/LICENSE !text !filter !merge !diff
*.py    !filter !diff !merge text
*.md    !filter !diff !merge text
*.toml  !filter !diff !merge text
*.cfg    !filter !diff !merge text
*.in    !filter !diff !merge text
*.ipynb !filter !diff !merge text
*.gitignore !filter !diff !merge text
setup.cfg !text !filter !merge !diff
data/GPTDS_fields.txt !text !filter !merge !diff
data/gc_3d_sohn2018.txt !text !filter !merge !diff
data/gc_pms_sohn2018.txt !text !filter !merge !diff
data/table1ASCII-3.txt !text !filter !merge !diff
data/table_gaia_dsphs.txt !text !filter !merge !diff
data/streamids_hlwas !text !filter !merge !diff
data/LG-table !text !filter !merge !diff
data/Data_MW_Wolf_sigma.data !text !filter !merge !diff
data/MWdata.csv !text !filter !merge !diff
data/nbgs.csv !text !filter !merge !diff
data/OC_K23/models/*.stan !text !filter !merge !diff
data/OC_K23/*/readme.txt !text !filter !merge !diff
data/OC_K23/readme.txt !text !filter !merge !diff